/**
 * SPDX-FileCopyrightText: 2019 (c) Carl Schwan <carl@carlschwan.eu>
 * SPDX-FileCopyrightText: 2017 (c) Ken Vermette <vermette@gmail.com>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

main.container {
  section {
    & > article {
      min-height: 250px;
    }
  }
}

.section-responsive {
  background-color: #1e4b6b;

  p {
    max-width: 1200px;
  }
}

.section-links {
  display: flex;
  flex-direction: column;
  text-align: center;

  .section-links-content {
    display: flex;
    flex-wrap: wrap;

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-basis: 33.33%;

      @media (max-width: 992px) {
        flex-basis: 50%;
      }

      &:nth-child(2),
      &:nth-child(5) {
        border-left: solid 1px rgba(0, 0, 0, 0.1);
        border-right: solid 1px rgba(0, 0, 0, 0.1);

        @media (max-width: 992px) {
          border: none;
        }
      }

      &:nth-child(odd) {
        @media (max-width: 992px) {
          border-right: solid 1px rgba(0, 0, 0, 0.1);
        }
      }

      p {
        max-width: 90%;
        margin-bottom: 3em;
      }
    }

    a {
      width: 80%;
    }
  }
}

.section-examples {
  background-color: lightgrey;

  img {
    width: 90%;
    height: auto;
  }
}

.splashLogo {
  .image {
    img {
      max-width: 90%;
      height: auto;
    }
  }
}
